<div ng-controller='MapCtrl' >
<div id='sidebar' ng-bind-html='sidebarHTML' class="mdl-shadow--6dp">
</div>
<!--<div id="sidebar"  ng-controller="sidebarController">
    <!-- Nav tabs -->
    <!--<div class="sidebar-tabs">
        <ul role="tablist">
            <li><a href="#drones" role="tab"><i class="fa fa-plane"></i></a></li>
            <li><a href="#reports" role="tab"><i class="fa fa-globe"></i></a></li>
        </ul>

        <ul role="tablist">
            <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
        </ul>
    </div>

    <!-- Tab panes -->
    <!--<div class="sidebar-content">
        <div class="sidebar-pane" id="drones">
            <div ng-include src="'./templates/drones.html'"></div></div>

        <div class="sidebar-pane" id="reports">
            <div ng-include src="'./templates/reports.html'"></div>
        </div>

        <div class="sidebar-pane" id="settings">
            <div ng-include src="'./templates/settings.html'"></div>
        </div>
    </div>
</div>-->
<div  id='map' class='sidebar-map'></div>
</div>
