/*@mdl-gray-50:#f3f3f3;

.home-wrapper{
    background-color: @mdl-gray-50;
}*/
.body{
    height: 100%;
}

.home-button{
    padding: 2% 10% 10% 8.3%;
}

#map{
    width: 100vw;
    align-self: stretch;
    box-sizing: border-box;
    // height: relative;//93.35vh;
    height: calc(~'100vh'~' - 64px');
}

/*.ng-scope{

    //height: 100%;         //костыль
}*/

.mdl-layout__content.ng-scope{
    box-sizing: border-box;
}

.drawer-link{
    padding: 0 0 2vh 1vw;
    vertical-align: super;
}

nav .material-icons{
    padding-top: 1vh;
}

.home-page-wrapper{
    width: 100vw;
}

.is-small-screen .leaflet-control-zoom{
    margin-top: 6vh;
}

.mdl-navigation__link {
    font-size: 1.2em;
}

.popup-btn{
    margin: 7px;
}

@media screen and (max-width: 1024px){
    #map{
        height: calc(100vh)
    }

    .leaflet-control{
        float:right;
    }

    .popup-btn{
        margin: 2px;
    }
    .popup-text>div{
        font-size: 12px;
        padding: 1px 2px;
    }
    .leaflet-popup-close-button{
        padding: 4px 4px 0 0;
    }
    .leaflet-sidebar{
        height: calc(~'100vh'~' - 64px');
        margin-top: 60px;
    }
}
.leaflet-popup-close-button{
    text-indent: 0em;
}
.leaflet-popup-content-wrapper, .map-legends, .map-tooltip{
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
}
.leaflet-popup-tip{
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
}
.popup-text>div{
    font-size: 14px;
    padding: 1px 5px;
}
.leaflet-popup-close-button{
    padding: 7px 6px 0 0 !important;
}

/*-------------d3 Style-----------*/

#TempChart, #TempChart svg {
    height: 200px;
}

.leaflet-sidebar > .leaflet-control, leaflet-popup-content-wrapper{
    border-radius: 2px;
}


/*---- mdl-shadow-dp4----*/
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
