<div class=" home-page-wrapper">
<div class="mdl-grid"><div class="mdl-cell mdl-cell--12-col mdl-cell--hide-desktop"></div></div>
<div class="mdl-grid mdl-color--gery-50 home-page-wrapper">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone"></div>
    <div class=" mdl-color--white mdl-shadow--4dp content mdl-cell mdl-cell--8-col">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone"></div>
            <div class="demo-content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                <h3>Welcome to Aerem Air Quality Service!</h3>
                <p>It's temple description</p>
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cel--col-6"></div>
            <div class="mdl-cell mdl-cell--2col">
                <a href="#map"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-button--accent home-button" >
                    <i class="material-icons mdl-button--icon">&#xE838;</i>
                    Try it!
                </button></a>
            </div>
        </div>
    
</div>
</div><!--Костыль-->